.content__lead {
  margin-top: 56px;
  margin-bottom: 92px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .content__lead {
    margin-top: 48px;
    margin-bottom: 88px;
  }
}

/* 480 */
@media screen and (max-width: 480px) {
  .content__lead {
    margin-top: 48px;
    margin-bottom: 64px;
  }
}